* {
    font-family: 'Yomogi', cursive;
}

.main_slide {
    background-image: url('../assets/img/EU-nitendo.png');
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    border-bottom: 3px solid #000;
}

.main_slide_content {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 300;
    color: aliceblue;
}

.main_about_content p {
    font-size: 20px;
}

.main_footer a {
    color: transparent;
}