body {
    background-color: #283618;
}

.cabeca{
    justify-content: space-between;
    display: flex;
    background-color: #bc6c25;
    border-bottom: 8px solid #000;
    padding: 18px 20px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    content: "";
    font-size: 20px;
    color: #fefae0;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
}

a::before {
    background-color: #283618;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    content: "";
}

span {
    background-color: #283618;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}