body {
    background-color: #283618;
}

.main_header {
    justify-content: space-between;
    display: flex;
    background-color: #bc6c25;
    border-bottom: 8px solid #000;
    padding: 18px 20px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    content: "";
    font-size: 20px;
    color: #fefae0;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
}

a::before {
    background-color: #283618;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    content: "";
}

span {
    background-color: #283618;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}




/* TITLE */




h2 {
    font-size: 40px;
    padding: 15px 30px;
    text-shadow: 4px 4px 0px #000;
    font-family: 'Press Start 2P', cursive;
    color: #fefae0;
}





/* SUBTITLE */



h3 {
    font-size: 30px;
    padding: 15px 30px;
    text-shadow: 4px 4px 0px #000;
}





/* BOX */



.box {
    display: inline-block;
    text-align: center;
    padding: 45px 30px;
    box-shadow: 5px 5px 0px #000;
    background-color: #343a40;
    font-size: 18px;
    font-family: 'Press Start 2P', cursive;
    color: #fefae0;
}




/* BUTTON */



#button {
    background-color: #283618;
    display: inline-block;
    padding: 15px 20px;
    box-shadow: 5px 5px 0px #000;
}




/* BANNER */



.banner {
    background-image: url(../assets/img/EU-nitendo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 850px;
    border-bottom: 10px solid #000;

    padding-top: 115px;
    padding-left: 90px;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 720px;

}

.banner .box {
    margin-bottom: 40px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
}




/* BANNER_2 */




.banner_2 {
    height: 850px;
    border-bottom: 10px solid #bc6c25;
}

.banner_2 .skills {
    padding-top: 80px;
    text-align: center;
}

 .box_2 .skill_list {
    display: flex;
    align-items: stretch
}

.skill_list .icon_title {
    font-size: 25px;
    padding: 5px 5px;
    padding-left: 60px;
    font-family: 'Press Start 2P', cursive;
    color: #fefae0;
}

.progress_bar {
    /* position: absolute; */
    border: 5px solid #000000;
    box-sizing: border-box;
    height: 40px;
    width: 220px;
}

.progress_bar::-webkit-progress-bar {
    background-color: #000;
}

.skill_list .right {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
