.box {
    display: inline-block;
    text-align: center;
    padding: 45px 30px;
    box-shadow: 5px 5px 0px #000;
    background-color: #343a40;
    font-size: 18px;
    font-family: 'Press Start 2P', cursive;
    color: #fefae0;
}
